


.form-input__block:has(.invalid-mail){
  position: relative;
  &:after{
    position: absolute;
    right: 0px;
    bottom: -25px;
    content: "mejladress stämmer inte";
    color: #fc5858;
  }
}
